# Redes Neuronales - Trabajo Práctico N° 2 - Ejercicio 1 - Regresión Logística
# Notebook #2: Implementación de una Regresión Lineal
En esta notebook se busca implementar una regresión logística para poder estimar la condición de diabético de un paciente, perteneciente al Pima Indians Dataset analizado en la notebook anterior.

# TODO List
* Chequear correcto reemplazo de NaN por mean.

# 1. Cargando base de datos

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# Read database from .csv
df = pd.read_csv('../../databases/diabetes.csv', delimiter=',')

# Show first rows of data
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

# 2. Preprocesamiento de los datos

## 2.1 Filtrado de valores inválidos

In [4]:
# Filtering Glucose values
df['Glucose'].replace(0, np.nan, inplace=True)

# Filtering Blood Pressure values
df['BloodPressure'].replace(0, np.nan, inplace=True)

# Filtering Skin Thickness values
df['SkinThickness'].replace(0, np.nan, inplace=True)

# Filtering Insulin values
df['Insulin'].replace(0, np.nan, inplace=True)

# Filtering Body Mass Index values
df['BMI'].replace(0, np.nan, inplace=True)

# 3. Separación del conjunto de entrenamiento y evaluación

In [5]:
from sklearn import model_selection

In [6]:
from sklearn import preprocessing

In [7]:
# Define input and output variables for the model
x_labels = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction','Age']
y_labels = ['Outcome']

df_x = df[x_labels]
df_y = df[y_labels]

In [8]:
# Split the dataset into train_valid and test
x_train_valid, x_test, y_train_valid, y_test = model_selection.train_test_split(df_x, df_y, test_size=0.2, random_state=15, shuffle=True)

# Split the train_valid sub-dataset into train and valid
x_train, x_valid, y_train, y_valid = model_selection.train_test_split(x_train_valid, y_train_valid, test_size=0.3, random_state=23, shuffle=True)

In [9]:
# Train set before NaN replacement
x_train.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,429.000000,426.000000,406.000000,287.000000,216.000000,420.000000,429.000000,429.000000
mean,3.906760,120.514085,72.325123,28.930314,152.740741,32.247857,0.469189,33.207459
std,3.350363,29.742282,12.611486,10.041280,107.966521,7.030966,0.330389,11.602100
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000
25%,1.000000,100.000000,64.000000,22.000000,82.000000,27.175000,0.240000,24.000000
50%,3.000000,115.000000,74.000000,29.000000,128.000000,31.750000,0.351000,29.000000
75%,6.000000,138.000000,80.000000,36.000000,185.750000,36.300000,0.646000,41.000000
max,14.000000,198.000000,122.000000,63.000000,680.000000,67.100000,2.420000,72.000000

# 4. Reemplazo de valores inválidos
Como se destacó en el análisis estadístico de datos, el dataset suministrado posee varios valores faltantes en algunos individuos. Se asume que en la etapa de producción el modelo contará con todas las variables correctamente informadas, no admitiendo el faltante de alguna de ellas. Luego, se decide reemplazar aquellos valores inválidos en **train**, **valid** y **test** por la correspondiente media en el dataset de train. En este caso, se considera a la media como un estimador correcto para la ocasión.

In [14]:
# Select columns to perform non-valid values replacement
replace_labels = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

# Perform NaN replacement
for label in replace_labels:
    # Compute mean for particular column and replace in train, valid and test
    mean = np.nanmean(x_train[label])
    x_train[label].replace(np.nan, mean, inplace=True)
    x_valid[label].replace(np.nan, mean, inplace=True)
    x_test[label].replace(np.nan, mean, inplace=True)

c:\users\joaco\appdata\local\programs\python\python39\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [15]:
# Train set after NaN replacement
x_train.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000
mean,3.906760,120.514085,72.325123,28.930314,152.740741,32.247857,0.469189,33.207459
std,3.350363,29.637862,12.267947,8.208243,76.522025,6.956649,0.330389,11.602100
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000
25%,1.000000,100.000000,64.000000,26.000000,126.000000,27.300000,0.240000,24.000000
50%,3.000000,116.000000,72.325123,28.930314,152.740741,32.000000,0.351000,29.000000
75%,6.000000,138.000000,80.000000,32.000000,152.740741,36.100000,0.646000,41.000000
max,14.000000,198.000000,122.000000,63.000000,680.000000,67.100000,2.420000,72.000000

In [13]:
# Validation set after NaN replacement
x_valid.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000,185.000000
mean,3.908108,124.081233,73.325949,29.225539,156.113313,32.909988,0.471708,33.464865
std,3.474627,30.668200,11.926671,8.568083,87.393680,6.636033,0.325015,11.883040
min,0.000000,44.000000,50.000000,11.000000,15.000000,18.200000,0.084000,21.000000
25%,1.000000,101.000000,65.000000,24.000000,115.000000,28.800000,0.236000,24.000000
50%,3.000000,120.000000,72.000000,28.930314,152.740741,32.500000,0.389000,30.000000
75%,6.000000,145.000000,80.000000,34.000000,152.740741,36.900000,0.600000,40.000000
max,17.000000,199.000000,114.000000,60.000000,545.000000,57.300000,1.893000,81.000000

In [16]:
# Test set after NaN replacement
x_test.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000
mean,3.597403,122.038961,71.503903,29.359428,155.872054,32.482778,0.479565,33.064935
std,3.304818,32.320876,11.814455,10.513698,103.288567,6.946169,0.343303,12.118519
min,0.000000,61.000000,30.000000,7.000000,23.000000,18.400000,0.078000,21.000000
25%,1.000000,95.250000,64.000000,23.250000,108.250000,26.925000,0.254000,24.000000
50%,3.000000,117.000000,72.000000,28.930314,152.740741,32.273929,0.376500,28.000000
75%,5.750000,142.750000,80.000000,33.750000,152.740741,36.950000,0.603750,41.000000
max,13.000000,197.000000,106.000000,99.000000,846.000000,55.000000,2.329000,69.000000

# 5. Modelo de Regresión Lineal